.cell,
.filledCell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  flex: 1 1 100%;

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.cell {
  background-color: #eeeded;
  cursor: pointer;
  transition: 300ms ease-in-out background-color;

  &:hover {
    background-color: #e3e3e3;
    transition: 300ms ease-in-out background-color;
  }
}

.filledCell {
  background-color: #e3e3e3;
}

.image {
  width: 70%;
}
