.container {
    height: 100vh;
}

.sider {
    &__form {
        &--wrapper {
            padding: 20px 20px 20px 40px;
            min-height: 577px;
        }
        &__input {
            &--wrapper {
                margin-bottom: 10px;
            }
        }
        &__airlineName {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0 4px;
            &--wrapper {
                display: flex;
            }
        }
    } 
    &__header {
        height: 74px;
        background-color: rgb(240, 241, 243);
    } 
} 

.main {
    &__header {
        border: 1px solid rgb(235, 237, 240);
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 577px;
        background: #fff;
        padding: 24px;
        &--wrapper {
            margin: 0 16px;
        }
    }
}