body {
  margin: 0;
}

#root {
  width: 500px;
  margin: auto;
}

.mainWrapper {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: lightgray;
  border-radius: 5px;
  border: 2px solid lightslategrey;
  margin: 0 auto;
  padding: 0;
}

.mainHeader {
  width: 100%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  border-radius: 5px;
  border-bottom: 2px solid lightslategrey;
  padding: 0 25px 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainHeader__profileLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-weight: 600;
  -webkit-transition: ease-out 300ms opacity;
  transition: ease-out 300ms opacity;
}

.mainHeader__profileLink:hover {
  opacity: 0.6;
  color: #000;
}

.mainHeader__profileLink:active {
  opacity: 1;
  color: #000;
}

.mainHeader__chatName {
  font-size: 22px;
}

.mainHeader__chatName--margin {
  margin: auto;
}

.chatBlock {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid lightslategrey;
  padding-bottom: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chatBlock__list {
  width: 100%;
}

.chatBlock__list__item {
  width: 100%;
  min-height: 48px;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 20px;
  border-bottom: 2px solid lightslategrey;
  background-color: lightgray;
  border-radius: 5px;
  padding: 12px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: ease-out 300ms background-color;
  transition: ease-out 300ms background-color;
}

.chatBlock__list__item:hover {
  background-color: gray;
}

.chatBlock__list__item:active {
  background-color: lightgray;
}

.chatBlock__list__item--animation {
  animation-name: blinker;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 4s;
  -webkit-animation-name: blinker;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 4s;
  animation-name: blinker-reverse;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-duration: 2s;
  -webkit-animation-name: blinker-reverse;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
  -webkit-animation-duration: 2s;
}

@keyframes blinker {
  from {
    background-color: lightgray;
  }
  to {
    background-color: gray;
  }
}

@-webkit-keyframes blinker {
  from {
    background-color: lightgray;
  }
  to {
    background-color: gray;
  }
}

@keyframes blinker-reverse {
  from {
    background-color: gray;
  }
  to {
    background-color: lightgray;
  }
}

@-webkit-keyframes blinker-reverse {
  from {
    background-color: gray;
  }
  to {
    background-color: lightgray;
  }
}

.msgField--wrapper {
  width: 70%;
}

.msgField {
  width: 100%;
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: lightslategray;
  border-radius: 5px;
  margin: 0;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

.error--wrapper {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgray;
  border-radius: 5px;
  border: 2px solid lightslategrey;
  margin: 0 auto;
  padding: 52px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.error__message {
  font-size: 22px;
}

.profile--wrapper {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightgray;
  border-radius: 5px;
  border: 2px solid lightslategrey;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profile__infoBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__infoBlock.profile__infoBlock--margin {
  margin: 0 30px;
}

.profile__info--margin {
  margin: 5px 0;
}

.mainBtn {
  background-color: cornsilk;
  border-radius: 5px;
  border: none;
  line-height: 25px;
  font-size: 16px;
  padding: 1px 6px;
  -webkit-box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: ease-out 300ms background-color, 300ms color;
  transition: ease-out 300ms background-color, 300ms color;
}

.mainBtn:hover {
  background-color: lightslategrey;
  color: cornsilk;
}

.mainBtn:active {
  background-color: cornsilk;
}

.mainBtn--margin {
  margin-top: 40px;
}
